# =========================
# Application
# =========================
SPRING_APPLICATION_NAME=chat

# =========================
# OpenAI
# =========================
OPENAI_API_KEY=dummy

# =========================
# MySQL
# =========================
DB_URL=jdbc:mysql://localhost:3307/messenger_db
DB_USERNAME=root
DB_PASSWORD=root
DB_DRIVER=com.mysql.cj.jdbc.Driver

# =========================
# Flyway
# =========================
FLYWAY_URL=jdbc:mysql://localhost:3307/messenger_db
FLYWAY_USER=root
FLYWAY_PASSWORD=root
FLYWAY_DRIVER=com.mysql.cj.jdbc.Driver

# =========================
# Redis
# =========================
REDIS_HOST=localhost
REDIS_PORT=6379

# =========================
# JWT
# =========================
JWT_SECRET_KEY=your-jwt-secret-key

# =========================
# Cloudinary
# =========================
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret